@charset "UTF-8";
/* SAS Universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f6e9;
  font-family: "Montserrat", sans-serif;
}

.logo > img {
  height: 40px;
}

.navbar {
  background: #6ab446;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

.hydra {
  background-image: url("../../assets/images/avocado-focus-1920.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.description {
  position: absolute;
  left: 10%;
  width: 50%;
  top: 50%;
  transform: translate(-10%, -50%);
}

.description h1 {
  color: #6ab446;
  font-weight: bolder;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description button, .btnsend {
  border: 1px solid #6ab446;
  border-radius: 25px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

.btnsend {
  background-color: transparent;
}

.description button:hover, .btnsend:hover {
  background-color: #4CAF50;
  color: white;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
  height: 350px;
  width: auto;
}

.features .form-control,
.features input {
  border-radius: 0;
}

.features .btn {
  background-color: #589b37;
  border: 1px solid #589b37;
  color: #fff;
  margin-top: 20px;
}

.features .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}

.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  padding: 30px 50px;
}

.gallery-container h1 {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 25px auto;
  font-size: 18px;
  color: #999;
}

.tz-gallery {
  padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 26px;
  font-family: "Glyphicons Halflings";
  content: "";
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}

.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(42, 58, 71, 0.7);
  content: "";
  transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
}

.paral {
  min-height: 250px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.paral p {
  font-size: 24px;
  color: #f5f5f5;
  text-align: center;
  line-height: 60px;
}

.paral h2 {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  padding-top: 60px;
  line-height: 100px;
}

.jumbotron {
  margin-bottom: 0;
}

.paralsec {
  background-image: url("../../assets/images/about-us-coco.jpg");
}

.paralsec1 {
  background-image: url("https://img.webnots.com/2017/05/parallax1.jpg");
}

.paralsec2 {
  background-image: url("https://img.webnots.com/2015/11/parallax2.jpg");
}

footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
}
footer a:hover, footer a:focus {
  color: #aaa;
  border-bottom: 1px dotted #999;
}
footer .form-control {
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #d1d2d2;
  padding: 0.7em 1em;
}

h5 > img {
  width: auto;
  height: 30px;
  margin-right: 15px;
  filter: invert(100%);
}

/*# sourceMappingURL=style.css.map */
